<a href="https://colab.research.google.com/github/RareDiseaseData/Meta-analysis-data/blob/main/Regression_HEalthy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/Hydroxylysine healty data.csv")
df

,ID,Author,Year,Title,Cell1,Cell2,Age,Sex,OI Type,n,Contains std,type of comparaison,Method,Control vs patient vs aggregate,Measurement,% hydroxylysine,STD,Unnamed: 17
0,6,"Bleckmann, H.;Kresse, H.;Wollensak, J.;Buddeck...",1971,[Glycosaminoglycan and collagen analyses in os...,2,2,2,1,10,NaN,No,1,1,2,1,0.395257,NaN,NaN
1,8,"Eastoe, J. E.;Martens, P.;Thomas, N. R.",1973,The amino-acid composition of human hard tissu...,2,5,5,3,10,NaN,No,1,2,2,1,0.111111,NaN,NaN
2,15,"Trelstad, R. L.;Rubin, D.;Gross, J.",1979,Osteogenesis imperfecta congenita: evidence fo...,1,1,1,2,10,3.0,No,2,5,2,1,0.193548,0.016328,NaN
3,15,"Trelstad, R. L.;Rubin, D.;Gross, J.",1977,Osteogenesis imperfecta congenita: evidence fo...,2,2,1,2,10,NaN,No,2,3,2,1,0.161290,NaN,NaN
4,15,"Trelstad, R. L.;Rubin, D.;Gross, J.",1977,Osteogenesis imperfecta congenita: evidence fo...,2,3,1,2,10,NaN,No,2,3,2,1,0.181818,NaN,NaN
5,25,"Kirsch, E.;Krieg, T.;Remberger, K.;Fendel, H.;...",1981,Disorder of collagen metabolism in a patient w...,1,1,1,3,10,2.0,No,2,5,2,1,0.176000,0.036062,NaN
6,25,"Kirsch, E.;Krieg, T.;Remberger, K.;Fendel, H.;...",1981,Disorder of collagen metabolism in a patient w...,2,3,1,3,10,NaN,No,2,3,2,1,0.125000,NaN,NaN
7,30,"Herbage, D.;Borsali, F.;Buffevant, C.;Flandin,...",1982,"Composition, cross-linking and thermal stabili...",2,4,5,3,10,NaN,Yes,3,3,2,1,0.147059,NaN,NaN
8,32,"Kirsch, E.;Glanville, R. W.;Krieg, T.;Muller, P.",1983,Analysis of cyanogen bromide peptides of type ...,2,6,1,3,10,NaN,No,1,3,2,3,0.208720,NaN,NaN
9,36,"Steinmann, B.;Rao, V. H.;Vogel, A.;Bruckner, P...",1984,Cysteine in the triple-helical domain of one a...,1,1,1,1,10,3.0,No,4,5,2,1,0.250000,0.040000,NaN
10,36,"Steinmann, B.;Rao, V. H.;Vogel, A.;Bruckner, P...",1984,Cysteine in the triple-helical domain of one a...,1,1,1,2,10,NaN,No,4,5,2,1,0.170000,NaN,NaN
11,36,"Steinmann, B.;Rao, V. H.;Vogel, A.;Bruckner, P...",1984,Cysteine in the triple-helical domain of one a...,1,1,1,2,10,NaN,No,4,5,2,1,0.210000,NaN,NaN
12,46,"Deak, S. B.;van der Rest, M.;Prockop, D. J.",1985,Altered helical structure of a homotrimer of a...,1,1,5,3,10,NaN,No,1,5,2,1,0.239825,NaN,NaN
13,55,"Stoss, H.;Pontz, B. F.;Pesch, H. J.;Ott, R.",1986,Heterogeneity of osteogenesis imperfecta. Bioc...,2,5,5,3,10,NaN,No,1,3,1,4,0.116160,NaN,NaN
14,61,"Kirsch, E.;Krieg, T.;Nerlich, A.;Remberger, K....",1987,Compositional analysis of collagen from patien...,1,1,1,3,10,2.0,Yes,2,5,4,1,0.189307,0.011287,0.038308
15,61,"Kirsch, E.;Krieg, T.;Nerlich, A.;Remberger, K....",1987,Compositional analysis of collagen from patien...,1,1,4,3,10,8.0,Yes,2,5,4,1,0.123168,0.011287,NaN
16,61,"Kirsch, E.;Krieg, T.;Nerlich, A.;Remberger, K....",1987,Compositional analysis of collagen from patien...,2,5,1,3,10,2.0,Yes,2,3,4,1,0.190891,0.013465,NaN
17,61,"Kirsch, E.;Krieg, T.;Nerlich, A.;Remberger, K....",1987,Compositional analysis of collagen from patien...,2,5,4,3,10,8.0,Yes,2,3,4,1,0.124356,0.008713,NaN
18,71,"Tenni, R.;Cetta, G.;Dyne, K.;Rossi, A.;Quacci,...",1988,Type I procollagen in the severe non-lethal fo...,1,1,2,3,10,NaN,Yes,4,5,2,1,0.240000,NaN,NaN
19,71,"Tenni, R.;Cetta, G.;Dyne, K.;Rossi, A.;Quacci,...",1988,Type I procollagen in the severe non-lethal fo...,1,1,2,3,10,NaN,Yes,4,5,2,1,0.240000,NaN,NaN
20,75,"Maroteaux, P.;Cohen-Solal, L.;Bonaventure, J.",1988,Clinical and genetical heterogeneity of osteog...,1,1,3,3,10,3.0,No,2,3,2,1,0.125000,0.010536,NaN
21,75,"Maroteaux, P.;Cohen-Solal, L.;Bonaventure, J.",1988,Clinical and genetical heterogeneity of osteog...,1,1,1,3,10,NaN,No,2,3,2,1,0.146000,NaN,NaN
22,75,"Maroteaux, P.;Cohen-Solal, L.;Bonaventure, J.",1988,Clinical and genetical heterogeneity of osteog...,1,1,4,3,10,NaN,No,2,3,2,1,0.134000,NaN,NaN
23,82,"Rao, V. H.;Steinmann, B.;de Wet, W.;Hollister,...",1989,Decreased thermal denaturation temperature of ...,1,1,1,1,10,NaN,No,1,6,2,1,0.436000,NaN,NaN
24,85,"Brenner, R. E.;Vetter, U.;Nerlich, A.;Worsdorf...",1989,Biochemical analysis of callus tissue in osteo...,2,2,3,3,10,2.0,No,4,3,2,1,0.135000,0.004243,NaN
25,85,"Brenner, R. E.;Vetter, U.;Nerlich, A.;Worsdorf...",1989,Biochemical analysis of callus tissue in osteo...,2,2,3,3,10,NaN,No,4,3,2,1,0.129000,NaN,NaN
26,144,"Tajima, S.;Takehana, M.;Azuma, N.",1994,Production of overmodified type I procollagen ...,1,1,2,3,10,NaN,Yes,1,7,4,3,0.250000,NaN,NaN
27,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,14.0,No,3,5,2,1,0.320624,0.027544,NaN
28,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.314868,NaN,NaN
29,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.309113,NaN,NaN
30,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.281295,NaN,NaN
31,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.275540,NaN,NaN
32,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.278417,NaN,NaN
33,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.290887,NaN,NaN
34,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.288010,NaN,NaN
35,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.296643,NaN,NaN
36,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.269784,NaN,NaN
37,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.260192,NaN,NaN
38,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.265947,NaN,NaN
39,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.236211,NaN,NaN
40,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,10,NaN,No,3,5,2,1,0.224700,NaN,NaN
41,203,"Barnes, A. M.;Chang, W.;Morello, R.;Cabral, W....",2006,Deficiency of cartilage-associated protein in ...,1,1,5,3,10,NaN,No,3,7,2,1,0.245000,NaN,NaN
42,207,"Cabral, Wayne A.;Chang, Weizhong;Barnes, Ailee...",2007,Prolyl 3-hydroxylase 1 deficiency causes a rec...,1,1,5,3,10,NaN,No,1,7,2,1,0.243000,NaN,NaN
43,243,"Barnes, A. M.;Carter, E. M.;Cabral, W. A.;Weis...",2010,Lack of cyclophilin B in osteogenesis imperfec...,1,1,2,3,10,NaN,No?,1,7,2,1,0.198000,NaN,NaN
44,265,"Barnes, A. M.;Cabral, W. A.;Weis, M.;Makareeva...",2012,Absence of FKBP10 in recessive type XI osteoge...,1,1,5,3,10,NaN,No,1,7,2,1,0.235000,NaN,NaN
45,271,"Valli, M.;Gallanti, A.;Viglio, S.;Barnes, A. M...",2012,Deficiency of CRTAP in non-lethal recessive os...,1,1,0,2,3,NaN,No?,1,7,2,1,0.220000,NaN,NaN
46,352,"Makareeva, Elena;Mirigian, Lynn S.;Mertz, Edwa...",2018,Substitutions for arginine at position 780 in ...,1,1,5,3,10,NaN,Yes,3,7,2,1,0.210000,NaN,NaN
47,377,"Syx, D.;Ishikawa, Y.;Gebauer, J.;Boudko, S. P....",2021,Aberrant binding of mutant HSP47 affects postt...,1,1,2,2,10,NaN,No,1,7,2,1,0.305700,NaN,NaN

In [3]:
df.columns

Index(['ID', 'Author', 'Year', 'Title', 'Cell1', 'Cell2', 'Age', 'Sex',
       'OI Type', 'n', 'Contains std', 'type of comparaison', 'Method',
       'Control vs patient vs aggregate', 'Measurement', '% hydroxylysine',
       'STD', 'Unnamed: 17'],
      dtype='object')

In [5]:
df_clean = df[[
    'Cell1',
    'Age',
    'Sex',
    'n',
    'Method',
    '% hydroxylysine',
    'STD']]
df_clean

    Cell1  Age  Sex     n  Method  % hydroxylysine       STD
0       2    2    1   NaN       1         0.395257       NaN
1       2    5    3   NaN       2         0.111111       NaN
2       1    1    2   3.0       5         0.193548  0.016328
3       2    1    2   NaN       3         0.161290       NaN
4       2    1    2   NaN       3         0.181818       NaN
5       1    1    3   2.0       5         0.176000  0.036062
6       2    1    3   NaN       3         0.125000       NaN
7       2    5    3   NaN       3         0.147059       NaN
8       2    1    3   NaN       3         0.208720       NaN
9       1    1    1   3.0       5         0.250000  0.040000
10      1    1    2   NaN       5         0.170000       NaN
11      1    1    2   NaN       5         0.210000       NaN
12      1    5    3   NaN       5         0.239825       NaN
13      2    5    3   NaN       3         0.116160       NaN
14      1    1    3   2.0       5         0.189307  0.011287
15      1    4    3   8.0       5         0.123168  0.011287
16      2    1    3   2.0       3         0.190891  0.013465
17      2    4    3   8.0       3         0.124356  0.008713
18      1    2    3   NaN       5         0.240000       NaN
19      1    2    3   NaN       5         0.240000       NaN
20      1    3    3   3.0       3         0.125000  0.010536
21      1    1    3   NaN       3         0.146000       NaN
22      1    4    3   NaN       3         0.134000       NaN
23      1    1    1   NaN       6         0.436000       NaN
24      2    3    3   2.0       3         0.135000  0.004243
25      2    3    3   NaN       3         0.129000       NaN
26      1    2    3   NaN       7         0.250000       NaN
27      1    5    3  14.0       5         0.320624  0.027544
28      1    5    3   NaN       5         0.314868       NaN
29      1    5    3   NaN       5         0.309113       NaN
30      1    5    3   NaN       5         0.281295       NaN
31      1    5    3   NaN       5         0.275540       NaN
32      1    5    3   NaN       5         0.278417       NaN
33      1    5    3   NaN       5         0.290887       NaN
34      1    5    3   NaN       5         0.288010       NaN
35      1    5    3   NaN       5         0.296643       NaN
36      1    5    3   NaN       5         0.269784       NaN
37      1    5    3   NaN       5         0.260192       NaN
38      1    5    3   NaN       5         0.265947       NaN
39      1    5    3   NaN       5         0.236211       NaN
40      1    5    3   NaN       5         0.224700       NaN
41      1    5    3   NaN       7         0.245000       NaN
42      1    5    3   NaN       7         0.243000       NaN
43      1    2    3   NaN       7         0.198000       NaN
44      1    5    3   NaN       7         0.235000       NaN
45      1    0    2   NaN       7         0.220000       NaN
46      1    5    3   NaN       7         0.210000       NaN
47      1    2    2   NaN       7         0.305700       NaN

In [6]:
df_clean.isna().sum()

Cell1               0
Age                 0
Sex                 0
n                  38
Method              0
% hydroxylysine     0
STD                38
dtype: int64

In [7]:
df_clean.Method = df_clean.Method.astype(int)
df_Method_dummies = pd.get_dummies(df_clean.Method, prefix='Method')
df_clean.join(df_Method_dummies)

<ipython-input-7-9af98f85a76b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.Method = df_clean.Method.astype(int)

,Cell1,Age,Sex,n,Method,% hydroxylysine,STD,Method_1,Method_2,Method_3,Method_5,Method_6,Method_7
0,2,2,1,NaN,1,0.395257,NaN,1,0,0,0,0,0
1,2,5,3,NaN,2,0.111111,NaN,0,1,0,0,0,0
2,1,1,2,3.0,5,0.193548,0.016328,0,0,0,1,0,0
3,2,1,2,NaN,3,0.161290,NaN,0,0,1,0,0,0
4,2,1,2,NaN,3,0.181818,NaN,0,0,1,0,0,0
5,1,1,3,2.0,5,0.176000,0.036062,0,0,0,1,0,0
6,2,1,3,NaN,3,0.125000,NaN,0,0,1,0,0,0
7,2,5,3,NaN,3,0.147059,NaN,0,0,1,0,0,0
8,2,1,3,NaN,3,0.208720,NaN,0,0,1,0,0,0
9,1,1,1,3.0,5,0.250000,0.040000,0,0,0,1,0,0
10,1,1,2,NaN,5,0.170000,NaN,0,0,0,1,0,0
11,1,1,2,NaN,5,0.210000,NaN,0,0,0,1,0,0
12,1,5,3,NaN,5,0.239825,NaN,0,0,0,1,0,0
13,2,5,3,NaN,3,0.116160,NaN,0,0,1,0,0,0
14,1,1,3,2.0,5,0.189307,0.011287,0,0,0,1,0,0
15,1,4,3,8.0,5,0.123168,0.011287,0,0,0,1,0,0
16,2,1,3,2.0,3,0.190891,0.013465,0,0,1,0,0,0
17,2,4,3,8.0,3,0.124356,0.008713,0,0,1,0,0,0
18,1,2,3,NaN,5,0.240000,NaN,0,0,0,1,0,0
19,1,2,3,NaN,5,0.240000,NaN,0,0,0,1,0,0
20,1,3,3,3.0,3,0.125000,0.010536,0,0,1,0,0,0
21,1,1,3,NaN,3,0.146000,NaN,0,0,1,0,0,0
22,1,4,3,NaN,3,0.134000,NaN,0,0,1,0,0,0
23,1,1,1,NaN,6,0.436000,NaN,0,0,0,0,1,0
24,2,3,3,2.0,3,0.135000,0.004243,0,0,1,0,0,0
25,2,3,3,NaN,3,0.129000,NaN,0,0,1,0,0,0
26,1,2,3,NaN,7,0.250000,NaN,0,0,0,0,0,1
27,1,5,3,14.0,5,0.320624,0.027544,0,0,0,1,0,0
28,1,5,3,NaN,5,0.314868,NaN,0,0,0,1,0,0
29,1,5,3,NaN,5,0.309113,NaN,0,0,0,1,0,0
30,1,5,3,NaN,5,0.281295,NaN,0,0,0,1,0,0
31,1,5,3,NaN,5,0.275540,NaN,0,0,0,1,0,0
32,1,5,3,NaN,5,0.278417,NaN,0,0,0,1,0,0
33,1,5,3,NaN,5,0.290887,NaN,0,0,0,1,0,0
34,1,5,3,NaN,5,0.288010,NaN,0,0,0,1,0,0
35,1,5,3,NaN,5,0.296643,NaN,0,0,0,1,0,0
36,1,5,3,NaN,5,0.269784,NaN,0,0,0,1,0,0
37,1,5,3,NaN,5,0.260192,NaN,0,0,0,1,0,0
38,1,5,3,NaN,5,0.265947,NaN,0,0,0,1,0,0
39,1,5,3,NaN,5,0.236211,NaN,0,0,0,1,0,0
40,1,5,3,NaN,5,0.224700,NaN,0,0,0,1,0,0
41,1,5,3,NaN,7,0.245000,NaN,0,0,0,0,0,1
42,1,5,3,NaN,7,0.243000,NaN,0,0,0,0,0,1
43,1,2,3,NaN,7,0.198000,NaN,0,0,0,0,0,1
44,1,5,3,NaN,7,0.235000,NaN,0,0,0,0,0,1
45,1,0,2,NaN,7,0.220000,NaN,0,0,0,0,0,1
46,1,5,3,NaN,7,0.210000,NaN,0,0,0,0,0,1
47,1,2,2,NaN,7,0.305700,NaN,0,0,0,0,0,1

In [8]:
df_train = df_clean.dropna(subset=['STD'])
df_train

    Cell1  Age  Sex     n  Method  % hydroxylysine       STD
2       1    1    2   3.0       5         0.193548  0.016328
5       1    1    3   2.0       5         0.176000  0.036062
9       1    1    1   3.0       5         0.250000  0.040000
14      1    1    3   2.0       5         0.189307  0.011287
15      1    4    3   8.0       5         0.123168  0.011287
16      2    1    3   2.0       3         0.190891  0.013465
17      2    4    3   8.0       3         0.124356  0.008713
20      1    3    3   3.0       3         0.125000  0.010536
24      2    3    3   2.0       3         0.135000  0.004243
27      1    5    3  14.0       5         0.320624  0.027544

In [9]:
X = df_train[[
  'Cell1',
  'Age',
  'Sex',
  'n',
  'Method',
  '% hydroxylysine'
]]
X

    Cell1  Age  Sex     n  Method  % hydroxylysine
2       1    1    2   3.0       5         0.193548
5       1    1    3   2.0       5         0.176000
9       1    1    1   3.0       5         0.250000
14      1    1    3   2.0       5         0.189307
15      1    4    3   8.0       5         0.123168
16      2    1    3   2.0       3         0.190891
17      2    4    3   8.0       3         0.124356
20      1    3    3   3.0       3         0.125000
24      2    3    3   2.0       3         0.135000
27      1    5    3  14.0       5         0.320624

In [10]:
Y = df_train[['STD']]
Y

         STD
2   0.016328
5   0.036062
9   0.040000
14  0.011287
15  0.011287
16  0.013465
17  0.008713
20  0.010536
24  0.004243
27  0.027544

In [11]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X = X, y = Y)

LinearRegression()

In [13]:
reg.coef_

array([[-0.00489917, -0.00235593, -0.004563  ,  0.00057182,  0.00079014,
         0.07229485]])

In [14]:
reg.intercept_

array([0.02306887])

In [18]:
df_clean
df_clean['STD'] = df_clean['STD'].fillna(0)
df_clean['n'] = df_clean['n'].fillna(1)
df_clean

<ipython-input-18-a50df918abc2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['STD'] = df_clean['STD'].fillna(0)
<ipython-input-18-a50df918abc2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['n'] = df_clean['n'].fillna(1)

    Cell1  Age  Sex     n  Method  % hydroxylysine       STD      STD1
0       2    2    1   1.0       1         0.395257  0.000000  0.000000
1       2    5    3   1.0       2         0.111111  0.000000  0.000000
2       1    1    2   3.0       5         0.193548  0.016328  0.016328
3       2    1    2   1.0       3         0.161290  0.000000  0.000000
4       2    1    2   1.0       3         0.181818  0.000000  0.000000
5       1    1    3   2.0       5         0.176000  0.036062  0.036062
6       2    1    3   1.0       3         0.125000  0.000000  0.000000
7       2    5    3   1.0       3         0.147059  0.000000  0.000000
8       2    1    3   1.0       3         0.208720  0.000000  0.000000
9       1    1    1   3.0       5         0.250000  0.040000  0.040000
10      1    1    2   1.0       5         0.170000  0.000000  0.000000
11      1    1    2   1.0       5         0.210000  0.000000  0.000000
12      1    5    3   1.0       5         0.239825  0.000000  0.000000
13      2    5    3   1.0       3         0.116160  0.000000  0.000000
14      1    1    3   2.0       5         0.189307  0.011287  0.011287
15      1    4    3   8.0       5         0.123168  0.011287  0.011287
16      2    1    3   2.0       3         0.190891  0.013465  0.013465
17      2    4    3   8.0       3         0.124356  0.008713  0.008713
18      1    2    3   1.0       5         0.240000  0.000000  0.000000
19      1    2    3   1.0       5         0.240000  0.000000  0.000000
20      1    3    3   3.0       3         0.125000  0.010536  0.010536
21      1    1    3   1.0       3         0.146000  0.000000  0.000000
22      1    4    3   1.0       3         0.134000  0.000000  0.000000
23      1    1    1   1.0       6         0.436000  0.000000  0.000000
24      2    3    3   2.0       3         0.135000  0.004243  0.004243
25      2    3    3   1.0       3         0.129000  0.000000  0.000000
26      1    2    3   1.0       7         0.250000  0.000000  0.000000
27      1    5    3  14.0       5         0.320624  0.027544  0.027544
28      1    5    3   1.0       5         0.314868  0.000000  0.000000
29      1    5    3   1.0       5         0.309113  0.000000  0.000000
30      1    5    3   1.0       5         0.281295  0.000000  0.000000
31      1    5    3   1.0       5         0.275540  0.000000  0.000000
32      1    5    3   1.0       5         0.278417  0.000000  0.000000
33      1    5    3   1.0       5         0.290887  0.000000  0.000000
34      1    5    3   1.0       5         0.288010  0.000000  0.000000
35      1    5    3   1.0       5         0.296643  0.000000  0.000000
36      1    5    3   1.0       5         0.269784  0.000000  0.000000
37      1    5    3   1.0       5         0.260192  0.000000  0.000000
38      1    5    3   1.0       5         0.265947  0.000000  0.000000
39      1    5    3   1.0       5         0.236211  0.000000  0.000000
40      1    5    3   1.0       5         0.224700  0.000000  0.000000
41      1    5    3   1.0       7         0.245000  0.000000  0.000000
42      1    5    3   1.0       7         0.243000  0.000000  0.000000
43      1    2    3   1.0       7         0.198000  0.000000  0.000000
44      1    5    3   1.0       7         0.235000  0.000000  0.000000
45      1    0    2   1.0       7         0.220000  0.000000  0.000000
46      1    5    3   1.0       7         0.210000  0.000000  0.000000
47      1    2    2   1.0       7         0.305700  0.000000  0.000000

In [19]:
df_test = df_clean[(df_clean.STD == 0) & (df_clean.n == 1)]
df_test

    Cell1  Age  Sex    n  Method  % hydroxylysine  STD  STD1
0       2    2    1  1.0       1         0.395257  0.0   0.0
1       2    5    3  1.0       2         0.111111  0.0   0.0
3       2    1    2  1.0       3         0.161290  0.0   0.0
4       2    1    2  1.0       3         0.181818  0.0   0.0
6       2    1    3  1.0       3         0.125000  0.0   0.0
7       2    5    3  1.0       3         0.147059  0.0   0.0
8       2    1    3  1.0       3         0.208720  0.0   0.0
10      1    1    2  1.0       5         0.170000  0.0   0.0
11      1    1    2  1.0       5         0.210000  0.0   0.0
12      1    5    3  1.0       5         0.239825  0.0   0.0
13      2    5    3  1.0       3         0.116160  0.0   0.0
18      1    2    3  1.0       5         0.240000  0.0   0.0
19      1    2    3  1.0       5         0.240000  0.0   0.0
21      1    1    3  1.0       3         0.146000  0.0   0.0
22      1    4    3  1.0       3         0.134000  0.0   0.0
23      1    1    1  1.0       6         0.436000  0.0   0.0
25      2    3    3  1.0       3         0.129000  0.0   0.0
26      1    2    3  1.0       7         0.250000  0.0   0.0
28      1    5    3  1.0       5         0.314868  0.0   0.0
29      1    5    3  1.0       5         0.309113  0.0   0.0
30      1    5    3  1.0       5         0.281295  0.0   0.0
31      1    5    3  1.0       5         0.275540  0.0   0.0
32      1    5    3  1.0       5         0.278417  0.0   0.0
33      1    5    3  1.0       5         0.290887  0.0   0.0
34      1    5    3  1.0       5         0.288010  0.0   0.0
35      1    5    3  1.0       5         0.296643  0.0   0.0
36      1    5    3  1.0       5         0.269784  0.0   0.0
37      1    5    3  1.0       5         0.260192  0.0   0.0
38      1    5    3  1.0       5         0.265947  0.0   0.0
39      1    5    3  1.0       5         0.236211  0.0   0.0
40      1    5    3  1.0       5         0.224700  0.0   0.0
41      1    5    3  1.0       7         0.245000  0.0   0.0
42      1    5    3  1.0       7         0.243000  0.0   0.0
43      1    2    3  1.0       7         0.198000  0.0   0.0
44      1    5    3  1.0       7         0.235000  0.0   0.0
45      1    0    2  1.0       7         0.220000  0.0   0.0
46      1    5    3  1.0       7         0.210000  0.0   0.0
47      1    2    2  1.0       7         0.305700  0.0   0.0

In [21]:
new_X = df_test[[
  'Cell1',
  'Age',
  'Sex',
  'n',
  'Method',
  '% hydroxylysine'
]]
new_X

    Cell1  Age  Sex    n  Method  % hydroxylysine
0       2    2    1  1.0       1         0.395257
1       2    5    3  1.0       2         0.111111
3       2    1    2  1.0       3         0.161290
4       2    1    2  1.0       3         0.181818
6       2    1    3  1.0       3         0.125000
7       2    5    3  1.0       3         0.147059
8       2    1    3  1.0       3         0.208720
10      1    1    2  1.0       5         0.170000
11      1    1    2  1.0       5         0.210000
12      1    5    3  1.0       5         0.239825
13      2    5    3  1.0       3         0.116160
18      1    2    3  1.0       5         0.240000
19      1    2    3  1.0       5         0.240000
21      1    1    3  1.0       3         0.146000
22      1    4    3  1.0       3         0.134000
23      1    1    1  1.0       6         0.436000
25      2    3    3  1.0       3         0.129000
26      1    2    3  1.0       7         0.250000
28      1    5    3  1.0       5         0.314868
29      1    5    3  1.0       5         0.309113
30      1    5    3  1.0       5         0.281295
31      1    5    3  1.0       5         0.275540
32      1    5    3  1.0       5         0.278417
33      1    5    3  1.0       5         0.290887
34      1    5    3  1.0       5         0.288010
35      1    5    3  1.0       5         0.296643
36      1    5    3  1.0       5         0.269784
37      1    5    3  1.0       5         0.260192
38      1    5    3  1.0       5         0.265947
39      1    5    3  1.0       5         0.236211
40      1    5    3  1.0       5         0.224700
41      1    5    3  1.0       7         0.245000
42      1    5    3  1.0       7         0.243000
43      1    2    3  1.0       7         0.198000
44      1    5    3  1.0       7         0.235000
45      1    0    2  1.0       7         0.220000
46      1    5    3  1.0       7         0.210000
47      1    2    2  1.0       7         0.305700

In [22]:
from google.colab import files
reg.predict(new_X)
w=reg.predict(new_X)
arr = np.array(w)
print(type(arr))
np.savetxt("my_array.csv", arr, delimiter=",")
files.download('my_array.csv')

<class 'numpy.ndarray'>