<a href="https://colab.research.google.com/github/RareDiseaseData/Meta-analysis-data/blob/main/Regression%20with%20std.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/Hydroxylysine OI data.csv")
df

,ID,Author,Year,Title,Cell1,Cell2,Age,Sex,Type,n,Contains std,type of comparaison,Method,Control vs patient vs aggregate,Measurement,% hydroxylysine,STD1
0,6,"Bleckmann, H.;Kresse, H.;Wollensak, J.;Buddeck...",1971,[Glycosaminoglycan and collagen analyses in os...,2,2,2,1,9,NaN,No,1,1,1,1,0.465116,NaN
1,8,"Eastoe, J. E.;Martens, P.;Thomas, N. R.",1973,The amino-acid composition of human hard tissu...,2,3,1,1,2,3.0,No,1,2,1,1,0.219020,0.083326
2,15,"Trelstad, R. L.;Rubin, D.;Gross, J.",1977,Osteogenesis imperfecta congenita: evidence fo...,1,1,1,2,2,NaN,No,2,5,1,1,0.218750,NaN
3,15,"Trelstad, R. L.;Rubin, D.;Gross, J.",1977,Osteogenesis imperfecta congenita: evidence fo...,2,2,1,2,2,NaN,No,2,3,1,1,0.371429,NaN
4,15,"Trelstad, R. L.;Rubin, D.;Gross, J.",1978,Osteogenesis imperfecta congenita: evidence fo...,2,3,1,2,2,NaN,No,2,3,1,1,0.352941,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,4,NaN,No,3,5,1,1,0.370504,NaN
65,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,4,NaN,No,3,5,1,1,0.412710,NaN
66,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,4,NaN,No,3,5,1,1,0.423261,NaN
67,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,4,NaN,No,3,5,1,1,0.425180,NaN
68,158,"Lehmann, H. W.;Rimek, D.;Bodo, M.;Brenner, R. ...",1995,Hydroxylation of collagen type I: evidence tha...,1,1,5,3,4,NaN,No,3,5,1,1,0.469305,NaN

In [3]:
df.columns

Index(['ID', 'Author', 'Year', 'Title', 'Cell1', 'Cell2', 'Age', 'Sex', 'Type',
       'n', 'Contains std', 'type of comparaison', 'Method',
       'Control vs patient vs aggregate', 'Measurement', '% hydroxylysine',
       'STD1'],
      dtype='object')

In [4]:
df_clean = df[[
    'Cell1',
    'Age',
    'Sex',
    'Type',
    'n',
    'Method',
    '% hydroxylysine',
    'STD1']]
df_clean

    Cell1  Age  Sex  Type    n  Method  % hydroxylysine      STD1
0       2    2    1     9  NaN       1         0.465116       NaN
1       2    1    1     2  3.0       2         0.219020  0.083326
2       1    1    2     2  NaN       5         0.218750       NaN
3       2    1    2     2  NaN       3         0.371429       NaN
4       2    1    2     2  NaN       3         0.352941       NaN
..    ...  ...  ...   ...  ...     ...              ...       ...
64      1    5    3     4  NaN       5         0.370504       NaN
65      1    5    3     4  NaN       5         0.412710       NaN
66      1    5    3     4  NaN       5         0.423261       NaN
67      1    5    3     4  NaN       5         0.425180       NaN
68      1    5    3     4  NaN       5         0.469305       NaN

[69 rows x 8 columns]

In [6]:
df_clean.isna().sum()

Cell1               0
Age                 0
Sex                 0
Type                0
n                  56
Method              0
% hydroxylysine     0
STD1               56
dtype: int64

In [8]:
df_clean.Type = df_clean.Type.astype(int)
df_clean.Method = df_clean.Method.astype(int)
df_Type_dummies = pd.get_dummies(df_clean.Type, prefix='Type')
df_Method_dummies = pd.get_dummies(df_clean.Method, prefix='Method')
df_clean.join(df_Type_dummies).join(df_Method_dummies)

<ipython-input-8-be15d8df5cf1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.Type = df_clean.Type.astype(int)
<ipython-input-8-be15d8df5cf1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.Method = df_clean.Method.astype(int)

,Cell1,Age,Sex,Type,n,Method,% hydroxylysine,STD1,Type_1,Type_2,Type_3,Type_4,Type_9,Method_1,Method_2,Method_3,Method_5,Method_6,Method_7
0,2,2,1,9,NaN,1,0.465116,NaN,0,0,0,0,1,1,0,0,0,0,0
1,2,1,1,2,3.0,2,0.219020,0.083326,0,1,0,0,0,0,1,0,0,0,0
2,1,1,2,2,NaN,5,0.218750,NaN,0,1,0,0,0,0,0,0,1,0,0
3,2,1,2,2,NaN,3,0.371429,NaN,0,1,0,0,0,0,0,1,0,0,0
4,2,1,2,2,NaN,3,0.352941,NaN,0,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,1,5,3,4,NaN,5,0.370504,NaN,0,0,0,1,0,0,0,0,1,0,0
65,1,5,3,4,NaN,5,0.412710,NaN,0,0,0,1,0,0,0,0,1,0,0
66,1,5,3,4,NaN,5,0.423261,NaN,0,0,0,1,0,0,0,0,1,0,0
67,1,5,3,4,NaN,5,0.425180,NaN,0,0,0,1,0,0,0,0,1,0,0
68,1,5,3,4,NaN,5,0.469305,NaN,0,0,0,1,0,0,0,0,1,0,0

In [10]:
#df_train = df_clean[df_clean.STD1 != 0]
#df_train

    Cell1  Age  Sex  Type    n  Method  % hydroxylysine      STD1
0       2    2    1     9  NaN       1         0.465116       NaN
1       2    1    1     2  3.0       2         0.219020  0.083326
2       1    1    2     2  NaN       5         0.218750       NaN
3       2    1    2     2  NaN       3         0.371429       NaN
4       2    1    2     2  NaN       3         0.352941       NaN
..    ...  ...  ...   ...  ...     ...              ...       ...
64      1    5    3     4  NaN       5         0.370504       NaN
65      1    5    3     4  NaN       5         0.412710       NaN
66      1    5    3     4  NaN       5         0.423261       NaN
67      1    5    3     4  NaN       5         0.425180       NaN
68      1    5    3     4  NaN       5         0.469305       NaN

[69 rows x 8 columns]

In [13]:
df_train = df_clean.dropna(subset=['STD1'])
df_train

    Cell1  Age  Sex  Type     n  Method  % hydroxylysine      STD1
1       2    1    1     2   3.0       2         0.219020  0.083326
5       1    1    1     2   2.0       5         0.294000  0.009016
7       2    2    2     3   4.0       3         0.252078  0.027212
15      1    2    3     1   3.0       5         0.129901  0.008515
16      1    1    3     2   5.0       5         0.260990  0.015050
17      1    5    3     3  12.0       5         0.140198  0.020990
18      1    5    3     4   3.0       5         0.121188  0.010495
19      2    2    3     1   3.0       3         0.134257  0.010693
20      2    1    3     2   5.0       3         0.271683  0.021782
21      2    5    3     3  12.0       3         0.114455  0.016634
22      2    5    3     4   3.0       3         0.152079  0.011881
24      1    3    3     9   3.0       3         0.241000  0.045000
30      1    5    3     1  39.0       5         0.405995  0.079716

In [15]:
df_clean

    Cell1  Age  Sex  Type    n  Method  % hydroxylysine      STD1
0       2    2    1     9  NaN       1         0.465116       NaN
1       2    1    1     2  3.0       2         0.219020  0.083326
2       1    1    2     2  NaN       5         0.218750       NaN
3       2    1    2     2  NaN       3         0.371429       NaN
4       2    1    2     2  NaN       3         0.352941       NaN
..    ...  ...  ...   ...  ...     ...              ...       ...
64      1    5    3     4  NaN       5         0.370504       NaN
65      1    5    3     4  NaN       5         0.412710       NaN
66      1    5    3     4  NaN       5         0.423261       NaN
67      1    5    3     4  NaN       5         0.425180       NaN
68      1    5    3     4  NaN       5         0.469305       NaN

[69 rows x 8 columns]

In [16]:
X = df_train[[
  'Cell1',
  'Age',
  'Sex',
  'Type',
  'n',
  'Method',
  '% hydroxylysine'
]]
X

    Cell1  Age  Sex  Type     n  Method  % hydroxylysine
1       2    1    1     2   3.0       2         0.219020
5       1    1    1     2   2.0       5         0.294000
7       2    2    2     3   4.0       3         0.252078
15      1    2    3     1   3.0       5         0.129901
16      1    1    3     2   5.0       5         0.260990
17      1    5    3     3  12.0       5         0.140198
18      1    5    3     4   3.0       5         0.121188
19      2    2    3     1   3.0       3         0.134257
20      2    1    3     2   5.0       3         0.271683
21      2    5    3     3  12.0       3         0.114455
22      2    5    3     4   3.0       3         0.152079
24      1    3    3     9   3.0       3         0.241000
30      1    5    3     1  39.0       5         0.405995

In [17]:
Y = df_train[['STD1']]
Y

        STD1
1   0.083326
5   0.009016
7   0.027212
15  0.008515
16  0.015050
17  0.020990
18  0.010495
19  0.010693
20  0.021782
21  0.016634
22  0.011881
24  0.045000
30  0.079716

In [18]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(X = X, y = Y)

LinearRegression()

In [19]:
reg.coef_

array([[-0.10278989,  0.01053911, -0.00367158, -0.01282303, -0.00020352,
        -0.05618   ,  0.16762245]])

In [20]:
reg.intercept_

array([0.37554626])

In [37]:
df_clean
df_clean['STD1'] = df_clean['STD1'].fillna(0)
df_clean['n'] = df_clean['n'].replace(0,1)
df_clean

<ipython-input-37-7e5add043572>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['STD1'] = df_clean['STD1'].fillna(0)
<ipython-input-37-7e5add043572>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['n'] = df_clean['n'].replace(0,1)

    Cell1  Age  Sex  Type    n  Method  % hydroxylysine      STD1
0       2    2    1     9  1.0       1         0.465116  0.000000
1       2    1    1     2  3.0       2         0.219020  0.083326
2       1    1    2     2  1.0       5         0.218750  0.000000
3       2    1    2     2  1.0       3         0.371429  0.000000
4       2    1    2     2  1.0       3         0.352941  0.000000
..    ...  ...  ...   ...  ...     ...              ...       ...
64      1    5    3     4  1.0       5         0.370504  0.000000
65      1    5    3     4  1.0       5         0.412710  0.000000
66      1    5    3     4  1.0       5         0.423261  0.000000
67      1    5    3     4  1.0       5         0.425180  0.000000
68      1    5    3     4  1.0       5         0.469305  0.000000

[69 rows x 8 columns]

In [39]:
df_test = df_clean[(df_clean.STD1 == 0) & (df_clean.n == 1)]
df_test

    Cell1  Age  Sex  Type    n  Method  % hydroxylysine  STD1
0       2    2    1     9  1.0       1         0.465116   0.0
2       1    1    2     2  1.0       5         0.218750   0.0
3       2    1    2     2  1.0       3         0.371429   0.0
4       2    1    2     2  1.0       3         0.352941   0.0
6       2    1    1     2  1.0       3         0.281250   0.0
8       2    2    1     4  1.0       3         0.259669   0.0
9       2    2    1     4  1.0       3         0.217877   0.0
10      2    3    1     3  1.0       3         0.283708   0.0
11      2    1    1     2  1.0       3         0.303569   0.0
12      1    1    1     2  1.0       5         0.400000   0.0
13      1    5    3     9  1.0       5         0.365854   0.0
14      2    1    1     2  1.0       3         0.223080   0.0
23      1    2    1     3  1.0       5         0.297000   0.0
25      1    1    3     9  1.0       3         0.196000   0.0
26      1    4    3     9  1.0       3         0.151000   0.0
27      1    1    1     2  1.0       6         0.626000   0.0
28      2    3    3     1  1.0       3         0.136000   0.0
29      1    2    1     9  1.0       7         0.360000   0.0
31      1    5    3     1  1.0       5         0.391607   0.0
32      1    5    3     1  1.0       5         0.322542   0.0
33      1    5    3     1  1.0       5         0.311031   0.0
34      1    5    3     1  1.0       5         0.299520   0.0
35      1    5    3     1  1.0       5         0.263070   0.0
36      1    1    3     2  1.0       5         0.313909   0.0
37      1    1    3     2  1.0       5         0.324460   0.0
38      1    1    3     2  1.0       5         0.380096   0.0
39      1    1    3     2  1.0       5         0.400240   0.0
40      1    1    3     2  1.0       5         0.435731   0.0
41      1    1    3     2  1.0       5         0.470264   0.0
42      1    1    3     2  1.0       5         0.504796   0.0
43      1    5    3     3  1.0       5         0.539329   0.0
44      1    5    3     3  1.0       5         0.228537   0.0
45      1    5    3     3  1.0       5         0.247722   0.0
46      1    5    3     3  1.0       5         0.278417   0.0
47      1    5    3     3  1.0       5         0.305276   0.0
48      1    5    3     3  1.0       5         0.316787   0.0
49      1    5    3     3  1.0       5         0.366667   0.0
50      1    5    3     3  1.0       5         0.385851   0.0
51      1    5    3     3  1.0       5         0.388729   0.0
52      1    5    3     3  1.0       5         0.453957   0.0
53      1    5    3     3  1.0       5         0.483693   0.0
54      1    5    3     3  1.0       5         0.499041   0.0
55      1    5    3     4  1.0       5         0.500959   0.0
56      1    5    3     4  1.0       5         0.260192   0.0
57      1    5    3     4  1.0       5         0.291847   0.0
58      1    5    3     4  1.0       5         0.299520   0.0
59      1    5    3     4  1.0       5         0.314868   0.0
60      1    5    3     4  1.0       5         0.342686   0.0
61      1    5    3     4  1.0       5         0.349400   0.0
62      1    5    3     4  1.0       5         0.352278   0.0
63      1    5    3     4  1.0       5         0.355156   0.0
64      1    5    3     4  1.0       5         0.370504   0.0
65      1    5    3     4  1.0       5         0.412710   0.0
66      1    5    3     4  1.0       5         0.423261   0.0
67      1    5    3     4  1.0       5         0.425180   0.0
68      1    5    3     4  1.0       5         0.469305   0.0

In [40]:
new_X = df_test[[
  'Cell1',
  'Age',
  'Sex',
  'Type',
  'n',
  'Method',
  '% hydroxylysine'
]]
new_X

    Cell1  Age  Sex  Type    n  Method  % hydroxylysine
0       2    2    1     9  1.0       1         0.465116
2       1    1    2     2  1.0       5         0.218750
3       2    1    2     2  1.0       3         0.371429
4       2    1    2     2  1.0       3         0.352941
6       2    1    1     2  1.0       3         0.281250
8       2    2    1     4  1.0       3         0.259669
9       2    2    1     4  1.0       3         0.217877
10      2    3    1     3  1.0       3         0.283708
11      2    1    1     2  1.0       3         0.303569
12      1    1    1     2  1.0       5         0.400000
13      1    5    3     9  1.0       5         0.365854
14      2    1    1     2  1.0       3         0.223080
23      1    2    1     3  1.0       5         0.297000
25      1    1    3     9  1.0       3         0.196000
26      1    4    3     9  1.0       3         0.151000
27      1    1    1     2  1.0       6         0.626000
28      2    3    3     1  1.0       3         0.136000
29      1    2    1     9  1.0       7         0.360000
31      1    5    3     1  1.0       5         0.391607
32      1    5    3     1  1.0       5         0.322542
33      1    5    3     1  1.0       5         0.311031
34      1    5    3     1  1.0       5         0.299520
35      1    5    3     1  1.0       5         0.263070
36      1    1    3     2  1.0       5         0.313909
37      1    1    3     2  1.0       5         0.324460
38      1    1    3     2  1.0       5         0.380096
39      1    1    3     2  1.0       5         0.400240
40      1    1    3     2  1.0       5         0.435731
41      1    1    3     2  1.0       5         0.470264
42      1    1    3     2  1.0       5         0.504796
43      1    5    3     3  1.0       5         0.539329
44      1    5    3     3  1.0       5         0.228537
45      1    5    3     3  1.0       5         0.247722
46      1    5    3     3  1.0       5         0.278417
47      1    5    3     3  1.0       5         0.305276
48      1    5    3     3  1.0       5         0.316787
49      1    5    3     3  1.0       5         0.366667
50      1    5    3     3  1.0       5         0.385851
51      1    5    3     3  1.0       5         0.388729
52      1    5    3     3  1.0       5         0.453957
53      1    5    3     3  1.0       5         0.483693
54      1    5    3     3  1.0       5         0.499041
55      1    5    3     4  1.0       5         0.500959
56      1    5    3     4  1.0       5         0.260192
57      1    5    3     4  1.0       5         0.291847
58      1    5    3     4  1.0       5         0.299520
59      1    5    3     4  1.0       5         0.314868
60      1    5    3     4  1.0       5         0.342686
61      1    5    3     4  1.0       5         0.349400
62      1    5    3     4  1.0       5         0.352278
63      1    5    3     4  1.0       5         0.355156
64      1    5    3     4  1.0       5         0.370504
65      1    5    3     4  1.0       5         0.412710
66      1    5    3     4  1.0       5         0.423261
67      1    5    3     4  1.0       5         0.425180
68      1    5    3     4  1.0       5         0.469305

In [59]:
from google.colab import files
reg.predict(new_X)
w=reg.predict(new_X)
arr = np.array(w)
print(type(arr))
np.savetxt("my_array.csv", arr, delimiter=",")
files.download('my_array.csv')

<class 'numpy.ndarray'>

In [45]:
df_clean
df_clean["stdsim"] = df_clean['STD1'].apply(lambda x: x if x != 0 else None)

<ipython-input-45-d5408fdcfc65>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["stdsim"] = df_clean['STD1'].apply(lambda x: x if x != 0 else None)

In [46]:
df_clean

    Cell1  Age  Sex  Type    n  Method  % hydroxylysine      STD1    stdsim
0       2    2    1     9  1.0       1         0.465116  0.000000       NaN
1       2    1    1     2  3.0       2         0.219020  0.083326  0.083326
2       1    1    2     2  1.0       5         0.218750  0.000000       NaN
3       2    1    2     2  1.0       3         0.371429  0.000000       NaN
4       2    1    2     2  1.0       3         0.352941  0.000000       NaN
..    ...  ...  ...   ...  ...     ...              ...       ...       ...
64      1    5    3     4  1.0       5         0.370504  0.000000       NaN
65      1    5    3     4  1.0       5         0.412710  0.000000       NaN
66      1    5    3     4  1.0       5         0.423261  0.000000       NaN
67      1    5    3     4  1.0       5         0.425180  0.000000       NaN
68      1    5    3     4  1.0       5         0.469305  0.000000       NaN

[69 rows x 9 columns]

In [54]:
df_clean['stdsim1'] = arr
df_clean

ValueError: ignored